.IsRoot {
    margin-left: 0;
}

.container {
  margin-top: 60px;
}

.Content {
    min-height: 18px;
    margin-left:18px;
}

* html .Content {
    height: 18px;
}

.Expand {
    width: 18px;
    height: 18px;
    float: left;
}


.ExpandOpen .Container{
        display: block;
}

.ExpandClosed .Container{
        display: none;
}

.ExpandOpen .Expand, .ExpandClosed .Expand {
        cursor: pointer;
}
.ExpandLeaf .Expand {
        cursor: auto;
}

.ExpandLoading   {
    width: 18px;
    height: 18px;
    float: left;
}

#tree li {
  padding-right: 0rem;
}
