#tableWorkers_wrapper .row
  {
    min-width: 100%;
  }
#tableWorkers_wrapper > div:nth-child(2) > div
  {
    min-width: 100%;
  }
#tableWorkers_paginate > ul
  {
    float: right;
  }
#tableWorkers_filter > label
  {
    float: right;
  }
#tableWorkers_length > label
  {
    float: left;
  }

.container-fluid
  {
    margin-top: 70px;
  }

#cardModal .container-fluid
  {
    margin-top: 0px;
  }

#redistributionModal .container-fluid
  {
    margin-top: 0px;
  }

.btn-worker
  {
    position: fixed;
    z-index: 1000;
    top: 70px;
    right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

@media (max-width: 768px) {
  .btn-worker
    {
      top: 100px;
    }
}

@media (max-width: 352px) {
  .btn-worker
    {
      top: 140px;
    }
}

.btn-redistribution
  {
    position: fixed;
    z-index: 1000;
    bottom: 65px;
    right: 10px;
  }

 tr:hover
  {
   cursor: pointer;
  }

 .cleanPhoto
  {
    position: absolute;
    top: 0;
    right: 0;
  }
